@import 'compass';
//winSize
$minWidth:1120px;
$minHeight:650px;
$innerWidth:960px;
//font
$baseFont:'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro W3', 'ＭＳ Ｐゴシック', Arial, verdana, sans-serif;
$yugosicFont:'游ゴシック体', 'Yu Gothic', YuGothic, 'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro W3', 'ＭＳ Ｐゴシック', Arial, verdana, sans-serif;
$yuminchoFont:'游明朝', YuMincho, 'Yu Mincho','ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN','HGS明朝E', 'ＭＳ Ｐ明朝','メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro W3', 'ＭＳ Ｐゴシック', Arial, verdana, sans-serif;
$hiraginoFont:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro W3','メイリオ',Meiryo, 'ＭＳ Ｐゴシック', Arial, verdana, sans-serif;
$romanFont:'Times New Roman', Arial, verdana, sans-serif, '游ゴシック体', 'Yu Gothic', YuGothic, 'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro W3', 'ＭＳ Ｐゴシック', Arial, verdana;
//color
$baseColor: #000000;
//responsive
$pcSize:1025px;
$tabSize:1024px;
$spSize:767px;
//easing
$easeInOutQuart:cubic-bezier(0.77, 0, 0.175, 1);
//color

@mixin fontSize($size: 10, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

@mixin lineHeight($lineHeight: 10, $baseFontSize:10){
    line-height: $lineHeight / $baseFontSize;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacityIE: $opacity * 100;
  filter: alpha(opacity=$opacityIE);/* ie lt 8 */
  -ms-filter: 'alpha(opacity=#{$opacityIE})';  /* ie 8 */
  zoom:1;
}

@mixin linkColor($color,$colorHover:$color,$dec:none,$decHover:none) {
  color: $color;
  text-decoration: $dec;
  &:hover{
    color: $colorHover;
    text-decoration: $decHover;
  }
}

//------------------------------------

@mixin fontSmoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

@mixin clearfix {
  zoom: 1;

  &:before,
  &:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: '\0020';
  }

  &:after {
    clear: both;
  }
}

@mixin hoverOpacity($op:0.6,$sec:0.3s){
  opacity: 1;
  transition: opacity $sec ease;
  &:hover{
    opacity: $op;
    transition: opacity $sec ease;
  }
}

@mixin noneOpacity($op:1,$sec:0.3s){
  opacity: 1;
  transition: none;
  &:hover{
    opacity: 1;
    transition: none;
  }
}

@mixin libR{
  font-family: 'liberation_sansregular',sans-serif;
}
@mixin libB{
  font-family: 'liberation_sansbold',sans-serif;
}

//------------------------------------
// easing
$linear: cubic-bezier(0.250, 0.250, 0.750, 0.750);
$ease: cubic-bezier(0.250, 0.100, 0.250, 1.000);
$ease-in: cubic-bezier(0.420, 0.000, 1.000, 1.000);
$ease-out: cubic-bezier(0.000, 0.000, 0.580, 1.000);
$ease-in-out: cubic-bezier(0.420, 0.000, 0.580, 1.000);
// In
$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeInQuint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeInBack: cubic-bezier(0.600, -0.280, 0.735, 0.045);
// Out
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
// In Out
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);
